<p>newcar works!</p>
<h1>New Car</h1>
<div class="form-container">
  <p>
    <label for="owner">Owner</label>
    <input name="owner" type="text" id="owner" [(ngModel)]="ownerValue">
  </p>
  <p>
    <label for="brand">Brand</label>
    <input name="brand" type="text" id="brand" [(ngModel)]="brandValue">
  </p>
  <p>
    <label for="make">Make</label>
    <input name="make" type="text" id="make"[(ngModel)]="makeValue">
  </p>
  <p>
    <label for="color">Color</label>
    <input name="color" type="text" id="color" [(ngModel)]="colorValue">
  </p>
  <p>
    <label for="year">Year</label>
    <input name="year" type="text" id="year" [(ngModel)]="yearValue">
  </p>

  <p (click)="save()">
    <a class="button" >save</a>
  </p>
  <p>
    <a class="button" >Cancel</a>
  </p>
</div>
